.logoimg {
    width: 55%;
    margin-left: 78px;
}

.nav {
    display: flex;
    background-color: gainsboro;


}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.logo {
    display: contents;

}

.dropdown {
    margin-left: 900px;
    font-size: xx-large;
    margin-top: 45px;
    margin-right: 100px;
}

.dropdown-menu {
    top: 35%;
}

.buton {
    margin-left: 74.6%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.manage {
    text-align: center;
    border: solid 1px black;
    width: 70%;
    margin-left: 150px;
    padding: 10px;
}

.child_categories {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.name {
    font-size: larger;
}