.logoimg {
    width: 55%;
    margin-left: 78px;
}

.nav {
    display: flex;
    background-color: gainsboro;


}

.logo {
    display: contents;

}

.dropdown {
    margin-left: 900px;
    font-size: xx-large;
    margin-top: 45px;
    margin-right: 100px;
}

.dropdown-menu {
    top: 35%;
}