
.total-item {
    border: 1px solid;
    height: 120px;
    width: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.total-item p {
    text-align: center;
}


.nav-top {
    justify-content: space-around;
    align-items: center;
}

.nav-top img {
    width: 150px;
    height: 100px;
}