.total-item {
    border: 1px solid;
    height: 120px;
    width: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-item p {
    text-align: center;
}


.nav-top {
    justify-content: space-around;
    align-items: center;
}

.nav-top img {
    width: 150px;
    height: 100px;
}

.logo {
    margin-right: 35%;
}

.statistical {
    margin-top: 15px;
}


li a {
    color: black;
    margin-left: 10px;

}

li a:hover {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    min-width: 5rem;
}